*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

h1{
    color:red;
    margin-top: 40px;
    align-items: center;
    justify-items: center;
    float: center;
}

p{
    margin-top: 50px;
    color: green;
    font-family: sans-serif;
    word-spacing: 1.5px;
}
.commdiv{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    font-family: sans-serif;
}
.goaldiv{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px; 
    font-family: sans-serif;
}
.presantationdiv{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px; 
    font-family: sans-serif;
}
.researchdiv{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-family: sans-serif;
}